*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

h4{
   margin: 0%;
}

.main{
   display: flex;
}

.tables{
   display: inline-block;
}

.table{
   display: inline-block;
}

.add_delete{
   display: inline-block;
   margin-left: 10px;
}

.delete{
   padding-top: 5px;
}